body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: black;
  /* background-color: black; */
}

*,
*::before *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  margin-left: 20px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  
}

/* ---Container--- */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

/* ---Navigation--- */

.nav-icon{
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
}
.nav__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  align-items: center;
}
nav {
  position: sticky;
display: flex;
align-content: center;
justify-content: space-between;
align-items: center;
height: 60px;
background-color: white;
}
.cart-btn{
  position: relative;
  
}

.cart-items{
  position: absolute;
  top: -2px;
  right: 8px;
  font-size: 1rem;
  background-color: rgba(180, 6, 6, 0.856);
  padding: 0px 7px; 
  border-radius: 6px;
  color: white;

}


/*nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
} */

/* ---Slider--- */

.slider__container {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.slider__track {
  height: 100%;
  width: 100%;
  display: flex;
  transition: 0.5s;
}
.slider__content {
  height: 100%;
  min-width: 100%;
}
/* Slider button */
.slider__content img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.prev,
.next {
  position: absolute;
  height: calc(100% - 4px);
  z-index: 100;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease;
}
.next {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}
.prev::after,
.next::after {
  margin: 10px;
  padding: 2px;
  display: inline-block;
  content: "";
  position: relative;
  border: 3px solid #d2d7df;
  border-top-left-radius: 3px;
  width: 6px;
  height: 6px;
  border-right: none;
  border-bottom: none;
  transform: rotate(-45deg);
}
.next:hover,
.next:active {
  transform: scale(1.5) rotate(180deg);
}
.prev:hover,
.prev:active {
  transform: scale(1.5);
}
/* End of slider button */
/* ---End of slider--- */

/* ---Products--- */

.products {
  padding: 4rem 0;
}
.section-title h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
}
.products-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container{
  position: relative;
  overflow: hidden;
}
.product-img{
  display: block;
  width: 100%;
  min-height: 12rem;
}
.bag-btn{
  position: absolute;
  top: 80%;
  right: 0;
  bprder: none;
  background-color: rgba(r ed, green, blue, alpha)
}